apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: tmb13be
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001
      nodePort: 30085