apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodbdeployment
  namespace: tmb13db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:latest
          ports:
            - containerPort: 27017
          volumeMounts:
            - mountPath: /data/db
              name: mongodb-storage
      volumes:
        - name:  mongodb-storage
          persistentVolumeClaim:
            claimName: mongodbb13-pvc
          
      



