apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: ramiz
spec:
  type: NodePort
  selector:
    app: ramiz-nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080