apiVersion: v1
kind: Service
metadata:
  name: mongodbb13-service
  namespace: tmb13db
spec:
  type: ClusterIP
  selector:
    app: mongodb
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017