apiVersion: apps/v1
kind: Deployment
metadata:
  name: bedeployment
  namespace: tmb13be
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: prashantdey/travelmemory:be
          ports:
            - containerPort: 3001
          env:
          - name: PORT
            value: "3001"
          - name: MONGO_URI
            valueFrom:
              secretKeyRef:
                name: backend-secret
                key: MONGO_URI